## Q1. code

In [1]:
import pandas as pd
list = [4, 8, 15, 16, 23, 42]
series = pd.Series(list)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. code

In [2]:
import pandas as pd
list = [ ['the'], ['industry'], ['requires'], ['advanced'],['skills'], ['get'], ['it'], ['the'], ['smart'], ['way']]

df = pd.Series((i[0] for i in list))
  
print(df)

0         the
1    industry
2    requires
3    advanced
4      skills
5         get
6          it
7         the
8       smart
9         way
dtype: object

## Q3. code

In [26]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25,30,27], 'Gender' : ['Female', 'Male', 'Female']}
  
df = pd.DataFrame(data, index = None)

df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4.  Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.
###  a Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a Series has to have an index defined
### example

In [27]:
import pandas as pd

data = {'Name': ['puja', 'sourav', 'ritika'], 'Age': [26,25,26], 'Gender' : ['Female', 'Male', 'Female']}
  
df = pd.DataFrame(data, index = None)

df

     Name  Age  Gender
0    puja   26  Female
1  sourav   25    Male
2  ritika   26  Female

## Q5.  functions one can use to manipulate data in a Pandas DataFrame are
1. Dropping columns in the data.
2. Dropping rows in the data.
3. Renaming a column in the dataset.
4. Select columns with specific data types.
5. Slicing the dataset.
### example

In [1]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'], 'Age': [25,30,27], 'Gender' : ['Female', 'Male', 'Female']}
  
df = pd.DataFrame(data, index = None)

update_df = df.drop(1)
update_df

     Name  Age  Gender
0   Alice   25  Female
2  Claire   27  Female

## Q6.  All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.Panel: It is a 3-D, size-mutable array

## Q7.  one can create a DataFrame from multiple Series objects by adding each series as a columns. By using concat() method you can merge multiple series together into DataFrame. This takes several params, for our scenario we use list that takes series to combine and axis=1 to specify merge series as columns instead of rows
### example

In [2]:
# Importing Pandas library
import pandas as pd
 
# Creating two lists
author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
 
# Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)
 
# Creating a dictionary by passing Series objects as values
frame = {'Author': auth_series,
         'Article': article_series}
 
# Creating DataFrame by passing Dictionary
result = pd.DataFrame(frame)
 
# Printing elements of Dataframe
print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178