## Q1.  functions of the pandas library
1. head : data.head()
2. tail : data.tail()
3. dtypes: data.dtypes()
4. describe : data.describe()
5. index : data.index
6. coloumn : data.coloumn

## Q2.  code

In [23]:
import pandas as pd

student_dict = {'A': ['Joe', 'Nat', 'Harry'], 'B': [20, 21, 19], 'C': [85.10, 77.80, 91.54]}

student_df = pd.DataFrame(student_dict)
print(student_df)

student_df = student_df.reset_index()

student_df.index = student_df.index + 1 

student_df = pd.DataFrame(student_df, index = [1,3,5])

print(student_df)

       A   B      C
0    Joe  20  85.10
1    Nat  21  77.80
2  Harry  19  91.54
   index      A     B      C
1    0.0    Joe  20.0  85.10
3    2.0  Harry  19.0  91.54
5    NaN    NaN   NaN    NaN

## Q3.  code

In [8]:
import pandas as pd
  
df = pd.DataFrame({'X':[1, 2, 3, 4, 5],
                   'Y':[50, 10, 20, 48, 96]})

df1 = df.head(3)

df = df1.sum(axis = 0)
print(df)

X     6
Y    80
dtype: int64

## Q4.  code

In [20]:
import pandas as pd

data = {'Number': ['A', 'B', 'C', 'D'], 'text' : ['tiger', 'dog', 'monkey', 'cat']}
  
df = pd.DataFrame(data)

df

df['word_count'] = df['text'].apply(lambda n: len(n.split()))

df.head()

  Number    text  word_count
0      A   tiger           1
1      B     dog           1
2      C  monkey           1
3      D     cat           1

## Q5.  Pandas DataFrame size()
### The size property is used to get an int representing the number of elements in this object and Return the number of rows if Series. Otherwise, return the number of rows times the number of columns if DataFrame.
## Pandas DataFrame shape()
### The shape property is used to get a tuple representing the dimensionality of the Pandas DataFrame.

## Q6.  Pandas read_excel() function
### Pandas read_excel() function is used for reading the excel files. Files can be imported using a URL link or can be directly imported from the disk. There are different parameters like io for path,sheet_name for specifying the name of the sheet, etc. for reading the file

## Q7.  code

In [28]:
import pandas as pd

data = {'Number': ['A', 'B', 'C', 'D'], 'Email' : ['tiger@domain.com','dog@domain.com','monkey@domain.com','cat@domain.com']}
  
df = pd.DataFrame(data)

df

df['username'] = df['Email'].str.split('@').str[:-1]


df.head()

  Number              Email  username
0      A   tiger@domain.com   [tiger]
1      B     dog@domain.com     [dog]
2      C  monkey@domain.com  [monkey]
3      D     cat@domain.com     [cat]

## Q8.  code

In [37]:
import pandas as pd
  
df = pd.DataFrame({'A':[3,8,6,2,9], 'B':[5,2,9,3,1], 'C':[1,7,4,5,2]})

df.head()

df

df[ (df['A'] >= 5) & (df['B'] <= 10) ]

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9.  code

In [3]:
import pandas as pd
  
df = pd.DataFrame({'X':[1, 2, 3, 4, 5],
                   'Y':[50, 10, 20, 48, 96]})

df


df['mean'] = df['Y'].mean()

df['median'] = df['Y'].median()

df['standard_deviation'] = df['Y'].std()

df

   X   Y  mean  median  standard_deviation
0  1  50  44.8    48.0           33.484325
1  2  10  44.8    48.0           33.484325
2  3  20  44.8    48.0           33.484325
3  4  48  44.8    48.0           33.484325
4  5  96  44.8    48.0           33.484325

## Q10.  code

In [13]:
import pandas as pd
data={'name':['wheat','milk','sugar','tea','rice'],'sale_in_kgs':[42, 38, 36, 41, 35],'date_april':[9,7,8,6,5]}

df = pd.DataFrame(data, columns = ["date_april","sale_in_kgs","name"])
df

df['Moving_Average'] = 0

df1 = df[["date_april","sale_in_kgs"]].rolling(window=2).mean()
print(df1)

df2 = df1.fillna(0)
print(df2)

   date_april  sale_in_kgs
0         NaN          NaN
1         8.0         40.0
2         7.5         37.0
3         7.0         38.5
4         5.5         38.0
   date_april  sale_in_kgs
0         0.0          0.0
1         8.0         40.0
2         7.5         37.0
3         7.0         38.5
4         5.5         38.0

## Q11. code

In [15]:
import pandas as pd
  
  
date = pd.DataFrame({'inputDates':['2015-01-07', '2015-12-02',
                                   '2005-01-03', '2016-11-13',
                                   '2020-06-03'], 
                     'inputValues':[1, 2, 3, 4, 5]})
  
date['inputDates'] = pd.to_datetime(date['inputDates'])
date['dayOfWeek'] = date['inputDates'].dt.day_name()
  
date

  inputDates  inputValues  dayOfWeek
0 2015-01-07            1  Wednesday
1 2015-12-02            2  Wednesday
2 2005-01-03            3     Monday
3 2016-11-13            4     Sunday
4 2020-06-03            5  Wednesday

## Q12.  code

In [16]:
import pandas as pd
df = pd.DataFrame({'num_posts': [4, 6, 3, 9, 1, 14, 2, 5, 7, 2],
                   'date': ['2023-01-09', '2023-01-25', 
                            '2022-09-05', '2022-09-12', 
                            '2022-09-29', '2022-10-15',
                            '2022-11-21', '2022-12-02', 
                            '2023-01-10', '2023-01-18']})
  
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
  
filtered_df = df.loc[(df['date'] >= '2023-01-01')
                     & (df['date'] < '2023-01-31')]
filtered_df

   num_posts       date
0          4 2023-01-09
1          6 2023-01-25
8          7 2023-01-10
9          2 2023-01-18

## Q13.  Installing and Getting Started with Pandas. As Pandas is dependent on the NumPy library, we need to import this dependency.